data/red/settings.json
*.pyc
__pycache__
lib/
cache/
*.exe
*.dll
data/audio/settings.json
data/autorole/settings.json
data/red/cogs.json
data/red/red.log
data/streams/picarto.json
*.command
start_red*
start_launcher.sh
start_launcher.command
lib
